<article
  class="custom-rounded min-w-96 bg-surface-primary border-transparent py-8 px-9">
  <h3 class="break text-xl pb-8">
    Итого:
    <p class="text-3xl font-bold">{{ totalCartCostWithDelivery }} ₽</p>
  </h3>
  <section class="break py-8 min-w-64">
    <div class="cart-totals-item">
      <lucide-angular [img]="Package" class="cart-totals-icon" />
      <span>Стоимость товаров:</span>
      <div class="bottom-dotted-line"></div>
      <span class="font-extrabold">{{ totalCartCost }} ₽</span>
    </div>
    <div class="cart-totals-item">
      <lucide-angular [img]="Percent" class="cart-totals-icon" />
      <span>Налоги:</span>
      <div class="bottom-dotted-line"></div>
      <span class="font-extrabold">{{ totalFee }} ₽</span>
    </div>
    <div class="cart-totals-item">
      <lucide-angular [img]="Truck" class="cart-totals-icon" />
      <span>Доставка:</span>
      <div class="bottom-dotted-line"></div>
      <span class="font-extrabold">{{ deliveryCost }} ₽</span>
    </div>
  </section>
  <p class="py-4 text-gray-400">У меня есть промокод</p>
  <button class="btn-size w-full btn btn-primary">Перейти к оплате</button>
</article>
