<article
  class="custom-rounded min-w-96 bg-surface-primary border-transparent py-8 px-9"
>
  <h3 class="break text-xl pb-8">
    Итого:
    <p class="text-3xl font-bold">2365 ₽</p>
  </h3>
  <section class="break py-8 min-w-64">
    <div
      class="font-normal text-gray-700 mb-1 flex items-center justify-between"
    >
      <lucide-angular [img]="Package" class="w-4 h-4 me-2 text-gray-400" />
      <span>Стоимость товаров:</span>
      <div
        class="max-h-2 border-b-[1.5px] border-dotted flex-grow mt-2 mx-1"
      ></div>
      <span class="font-extrabold">2005 ₽</span>
    </div>
    <div
      class="font-normal text-gray-700 mb-1 flex items-center justify-between"
    >
      <lucide-angular [img]="Percent" class="w-4 h-4 me-2 text-gray-400" />
      <span>Налоги:</span>
      <div
        class="max-h-2 border-b-[1.5px] border-dotted flex-grow mt-2 mx-1"
      ></div>
      <span class="font-extrabold">240 ₽</span>
    </div>
    <div
      class="font-normal text-gray-700 mb-1 flex items-center justify-between"
    >
      <lucide-angular [img]="Truck" class="w-4 h-4 me-2 text-gray-400" />
      <span>Доставка:</span>
      <div
        class="max-h-2 border-b-[1.5px] border-dotted flex-grow mt-2 mx-1"
      ></div>
      <span class="font-extrabold">120 ₽</span>
    </div>
  </section>
  <p class="py-4 text-gray-400">У меня есть промокод</p>
  <button class="btn-size w-full btn btn-primary">Перейти к оплате</button>
</article>
