<!-- <div
  role="status"
  class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center"
>
  <div
    class="flex items-center justify-center w-full h-48 bg-gray-200 rounded sm:w-96"
  ></div>
  <div class="w-full">
    <div class="h-5 bg-gray-100 rounded-full w-48 mb-4"></div>
    <div class="h-2 bg-gray-100 rounded-full max-w-[480px] mb-2.5"></div>
    <div class="h-2 bg-gray-100 rounded-full mb-2.5"></div>
    <div class="h-2 bg-gray-100 rounded-full max-w-[440px] mb-2.5"></div>
    <div class="h-2 bg-gray-100 rounded-full max-w-[460px] mb-2.5"></div>
    <div class="h-2 bg-gray-100 rounded-full max-w-[360px]"></div>
  </div>
</div> -->

<div role="status" class="animate-pulse min-w-96 flex flex-col gap-9 items-center justify-center">
  <div class="w-56 h-56 bg-gray-200 rounded-full border-0"></div>
  <div class="w-full p-5">
    <div class="h-5 bg-gray-100 rounded-full w-full mb-4"></div>
    <div class="h-3 bg-gray-100 rounded-full mb-3"></div>
    <div class="max-w-72 h-3 bg-gray-100 rounded-full mb-3"></div>
    <div class="max-w-28 h-3 bg-gray-100 rounded-full mb-3"></div>
    <div class="flex justify-between items-center">
      <div class="w-20 h-8 bg-gray-100 rounded-xl"></div>
      <div class="bg-gray-100 rounded-xl w-32 h-11"></div>
    </div>
  </div>
</div>
