<article
  class="animate-pulse min-w-96 flex flex-col gap-8 items-center justify-center max-w-sm"
>
  <picture class="py-9">
    <div class="rounded-full w-72 h-72 bg-gray-200 border-0"></div>
  </picture>
  <main class="w-full p-5">
    <header class="custom-rounded w-full h-7 bg-gray-100 mb-4"></header>
    <section>
      <div class="skeleton-text-line"></div>
      <div class="skeleton-text-line max-w-72"></div>
      <div class="skeleton-text-line max-w-28"></div>
    </section>
    <footer class="flex justify-between items-center pt-2">
      <div class="custom-rounded w-20 h-8 bg-gray-100"></div>
      <div class="custom-rounded w-32 h-11 bg-gray-100"></div>
    </footer>
  </main>
</article>
