<article
  role="status"
  class="animate-pulse min-w-96 flex flex-col gap-8 items-center justify-center max-w-sm"
>
  <picture class="py-9">
    <div class="w-72 h-72 bg-gray-200 rounded-full border-0"></div>
  </picture>
  <main class="w-full p-5">
    <header class="h-7 bg-gray-100 rounded-full w-full mb-4"></header>
    <section>
      <div class="h-3.5 bg-gray-100 rounded-full mb-3"></div>
      <div class="max-w-72 h-3.5 bg-gray-100 rounded-full mb-3"></div>
      <div class="max-w-28 h-3.5 bg-gray-100 rounded-full mb-3"></div>
    </section>
    <footer class="flex justify-between items-center pt-2">
      <div class="w-20 h-8 bg-gray-100 rounded-xl"></div>
      <div class="bg-gray-100 rounded-xl w-32 h-11"></div>
    </footer>
  </main>
</article>
