<ul class="list">
  @for (category of (showAllOptions ? categories : categories.slice(0, 5)); track category.id) {
    <li class="list-item">
      <input
        class="checkbox"
        [id]="category.name"
        value=""
        type="checkbox"
      />
      <label [for]="category.name">{{ category.name }}</label>
    </li>
  }
    <button class="btn btn-size btn-ghost" (click)="toggleShowAll()">
      <span class="mr-auto">{{
        showAllOptions ? "Скрыть" : "+ Показать всё"
      }}</span>
    </button>
</ul>
