<h2 class="text-4xl font-extrabold py-8">Мой профиль</h2>
<section class="flex flex-col gap-10">
  <div id="discounts" class="w-full p-4 bg-white rounded-xl">
    <div
      class="w-60 p-6 flex flex-col gap-16 rounded-xl bg-muted mb-4 hover:shadow-md"
    >
      <img src="assets/images/gift.png" alt="" />
      <p>Здесь будут ваши акции</p>
    </div>
    <a class="text-primary hover:underline" href="">Все наши акции</a>
  </div>

  <div class="w-full flex justify-between">
    <div class="w-3/5 bg-white border-transparent rounded-xl hover:shadow-md">
      <h3 class="break text-xl font-bold py-8 px-9">Персональная информация</h3>
      <form
        class="pt-8 px-9 pb-10 grid grid-cols-2 grid-rows-2 gap-x-6 gap-y-4"
      >
        <div>
          <label for="firstName" class="block mb-2 font-semibold">Имя</label>
          <input
            id="firstName"
            type="text"
            value=""
            class="input"
            placeholder="Ваше имя"
            required
          />
        </div>
        <div>
          <label for="lastName" class="block mb-2 font-semibold">Фамилия</label>
          <input
            id="lastName"
            type="text"
            value=""
            class="input"
            placeholder="Ваша фамилия"
            required
          />
        </div>
        <div>
          <label for="email" class="block mb-2 font-semibold">E-mail</label>
          <input
            id="email"
            type="email"
            value=""
            class="input"
            placeholder="email@nextpizza.com"
            required
          />
        </div>
        <div>
          <label for="phoneNumber" class="block mb-2 font-semibold"
            >Телефон</label
          >
          <input
            id="phoneNumber"
            type="text"
            value=""
            class="input"
            placeholder="+7 (999) 100-20-20"
            required
          />
        </div>
      </form>
    </div>

    <div class="w-2/6 bg-white border-transparent rounded-xl hover:shadow-md">
      <h3 class="break text-xl font-bold py-[30px] px-[35px]">Дополнительно</h3>
      <div class="pt-8 px-9 pb-10">
        <fieldset class="pb-6">
          <div class="flex items-center mb-4">
            <input
              checked
              id="checkbox-1"
              type="checkbox"
              value=""
              class="checkbox"
            />
            <label
              for="checkbox-1"
              class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >
              Я согласен/на с
              <a href="#" class="text-primary hover:underline">
                условиями обработки данных
              </a>
            </label>
          </div>
          <div class="flex items-center mb-4">
            <input id="checkbox-2" type="checkbox" value="" class="checkbox" />
            <label
              for="checkbox-2"
              class="ms-2 text-sm font-medium text-gray-900"
              >Подписаться на рассылку</label
            >
          </div>
        </fieldset>
        <div class="flex items-center gap-3 justify-end flex-wrap">
          <button class="btn btn-size btn-secondary">Выйти</button>
          <button class="btn btn-size btn-default">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</section>
