<ul class="py-2 text-sm text-gray-700">
  <!-- TODO: отражать на UI какая вкладка выбрана -->
  <li>
    <a routerLink="/profile" class="link-dropdown-menu-item px-5 py-2">Мой профиль</a>
  </li>
  <li>
    <a routerLink="/profile/my-orders" class="link-dropdown-menu-item px-5 py-2">Заказы</a>
  </li>
  <li>
    <a href="#" class="link-dropdown-menu-item px-5 py-2">Настройки</a>
  </li>
  <li>
    <a (click)="handleLogOut($event)" href="#" class="link-dropdown-menu-item px-5 py-2">Выйти</a>
  </li>
</ul>
