<section class="container mx-auto h-screen relative">
  <div class="flex gap-16 items-center absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-3/4">
    <div class="min-w-[445px]">
      <h2 class="text-4xl font-extrabold pb-2.5">Страница не найдена</h2>
      <p class="mb-11 text-gray-300">
        Проверьте корректность введённого адреса или повторите попытку позже
      </p>
      <div class="flex gap-5">
        <button
          class="btn btn-size btn-outline"
          (click)="onClick()"
        >
          <svg
            class="lucide lucide-move-left pr-2"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M6 8L2 12L6 16" />
            <path d="M2 12H22" />
          </svg>
          На главную
        </button>
        <button class="btn btn-size btn-outline" disabled>Обновить</button>
      </div>
    </div>
    <img class="max-w-[340px]" src="assets/images/not-found.png" alt="" />
  </div>
</section>
