<article class="product-card">
  <a [routerLink]="['products', product.id]">
    <img
      class="product-card-image"
      [src]="product.imageUrl"
      alt="Product's image"
      loading="lazy"
    />
  </a>
  <main class="p-5 pb-0 flex-grow">
    <h5
      class="mb-2 font-bold tracking-tight text-gray-900"
      [ngClass]="{
        'text-xl md:text-2xl': !isDetailedType,
        'text-xl': isDetailedType
      }"
    >
      {{ product.name }}
    </h5>
    <p
      class="mb-3 text-gray-300"
      [ngClass]="{
        'text-base': !isDetailedType,
        'text-sm': isDetailedType
      }"
    >
      {{ product.description }}
    </p>
  </main>
  <footer class="flex justify-between items-center p-5 pt-0">
    <p class="text-lg">
      от
      <span class="font-extrabold">{{ product.price }} ₽</span>
    </p>
    @if (isCartEmpty || !orderProduct) {
      <button
        class="btn btn-size btn-secondary gap-1.5"
        (click)="handleAddProductToCart(product)"
      >
        <lucide-angular [img]="Plus" class="w-4 h-4" />
        Добавить
      </button>
    } @else {
        <quantity-selector
          class="py-[6px]"
          [productQuantity]="orderProduct.quantity"
          (onIncrease)="handleIncrease()"
          (onDecrease)="handleDecrease()"
        />
    }
  </footer>
</article>
