@switch (filterType) {
  @case (FilterType.New) {
    <ul class="list">
      <li class="list-item">
        <input
          class="checkbox"
          id="checkbox-new"
          value=""
          type="checkbox"
        />
        <label for="checkbox-new">Новинки</label>
      </li>
    </ul>
  }
  @case (FilterType.Cost) {
    <input id="costFrom" type="number" value="" class="input relative" placeholder="0" />
    <span class="absolute text-gray-300 top-2 right-36">₽</span>
    <input id="costTo" type="number" value="" class="input" placeholder="1950" />
    <span class="absolute text-gray-300 top-2 right-3.5">₽</span>
  }
  @case (FilterType.Category) {
    <ul class="list">
      <!-- TODO: расформировать весь компонент и подтягивать правильные данные -->
      <li class="list-item">
        <input
        class="checkbox"
        id="checkbox-traditionalCrust"
        value=""
        type="checkbox"
        />
        <label for="checkbox-traditionalCrust">Категории продуктов</label>
      </li>
    </ul>
  }
  @case (FilterType.Ingredients) {
    <ul class="list">
      @for (ingredient of (showAllOptions ? ingredients : ingredients.slice(0, 5)); track ingredient.id) {
        <li class="list-item">
          <input
            class="checkbox"
            [id]="ingredient.id"
            value=""
            type="checkbox"
          />
          <label [for]="ingredient.id">{{ ingredient.name }}</label>
        </li>
      }
      <button class="btn btn-size btn-ghost" (click)="toggleShowAll()">
        <span class="mr-auto">{{ showAllOptions ? 'Скрыть' : '+ Показать всё' }}</span>
      </button>
    </ul>
  }
}
