<div id="buttons" class="flex items-center gap-3">
  <button disabled class="btn btn-size btn-outline p-0">
    <svg
      class="lucide lucide-chevron-left w-5 h-5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m15 18-6-6 6-6" />
    </svg>
  </button>
  <button class="btn btn-size btn-primary">1</button>
  <button disabled class="btn btn-size btn-outline">2</button>
  <button disabled class="btn btn-size btn-outline">3</button>
  <button class="btn btn-size btn-outline p-0">
    <svg
      class="lucide lucide-chevron-left w-5 h-5 rotate-180"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="m15 18-6-6 6-6" />
    </svg>
  </button>
</div>
<div id="pages" class="opacity-50 font-semibold">10 из 65</div>
