<div id="buttons" class="flex items-center gap-3">
  <button disabled class="btn btn-size btn-outline p-0">
    <lucide-angular [img]="ChevronLeft" class="w-5 h-5" />
  </button>
  <button class="btn btn-size btn-primary">1</button>
  <button disabled class="btn btn-size btn-outline">2</button>
  <button disabled class="btn btn-size btn-outline">3</button>
  <button class="btn btn-size btn-outline p-0">
    <lucide-angular [img]="ChevronRight" class="w-5 h-5" />
  </button>
</div>
<div id="pages" class="opacity-50 font-semibold">10 из 65</div>
