<div class="max-w-sm bg-white border-transparent rounded-lg hover:shadow-md">
  <a href="#">
    <img class="rounded-xl bg-secondary" [src]="product.imageUrl" alt="" />
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ product.name }}
      </h5>
    </a>
    <p class="mb-3 text-gray-300">
      {{ product.description }}
    </p>
    <div class="flex justify-between items-center">
      <p class="text-lg">
        от
        <span class="font-extrabold">{{ product.cost }} ₽</span>
      </p>
      <button class="btn btn-size btn-secondary gap-1.5">
        <svg
          class="lucide lucide-list-todo w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect x="3" y="5" width="6" height="6" rx="1" />
          <path d="m3 17 2 2 4-4" />
          <path d="M13 6h8" />
          <path d="M13 12h8" />
          <path d="M13 18h8" />
        </svg>
        Собрать
      </button>
    </div>
  </div>
</div>
