<article class="w-full bg-white border-transparent rounded-xl py-8 px-9">
  <h3 class="break text-xl font-bold pb-8">Персональная информация</h3>
  <form class="pt-8 grid grid-cols-2 grid-rows-2 gap-x-6 gap-y-4">
    <div>
      <label for="firstName" class="block mb-2 font-semibold">Имя</label>
      <input
        id="firstName"
        type="text"
        value=""
        class="input"
        placeholder="Ваше имя"
        required
      />
    </div>
    <div>
      <label for="lastName" class="block mb-2 font-semibold">Фамилия</label>
      <input
        id="lastName"
        type="text"
        value=""
        class="input"
        placeholder="Ваша фамилия"
        required
      />
    </div>
    <div>
      <label for="email" class="block mb-2 font-semibold">E-mail</label>
      <input
        id="email"
        type="email"
        value=""
        class="input"
        placeholder="email@nextpizza.com"
        required
      />
    </div>
    <div>
      <label for="phoneNumber" class="block mb-2 font-semibold">Телефон</label>
      <input
        id="phoneNumber"
        type="text"
        value=""
        class="input"
        placeholder="+7 (999) 100-20-20"
        required
      />
    </div>
  </form>
</article>
