<article class="flex gap-11 w-full">
  <div
    class="w-full md:w-1/2 rounded-xl bg-secondary flex justify-center items-center"
  >
    <img
      class="w-full h-auto object-cover pl-5 pt-5"
      [src]="product.imageUrl"
      alt="Product's image"
    />
  </div>
  <main class="w-full md:w-1/2 flex-grow">
    <h5 class="mb-2 text-4xl font-bold text-gray-900">
      {{ product.name }}
    </h5>
    <p class="mb-3 text-gray-500">
      25 см, традиционное тесто, {{ product.baseWeight }} г
    </p>
    <p class="mb-3 text-gray-300">
      {{ product.ingredients }}
    </p>

    <form [formGroup]="orderForm" (ngSubmit)="onSubmit($event)">
      <fieldset class="product-details__fieldset">
        <label
          class="product-details__label__base"
          [ngClass]="{
            'product-details__label__active':
              orderForm.get('size')?.value === '25'
          }"
        >
          <input
            type="radio"
            formControlName="size"
            value="25"
            class="hidden"
          />
          25 см
        </label>
        <label
          class="product-details__label__base"
          [ngClass]="{
            'product-details__label__active':
              orderForm.get('size')?.value === '30'
          }"
        >
          <input
            type="radio"
            formControlName="size"
            value="30"
            class="hidden"
            checked
          />
          30 см
        </label>
        <label
          class="product-details__label__base"
          [ngClass]="{
            'product-details__label__active':
              orderForm.get('size')?.value === '35'
          }"
        >
          <input
            type="radio"
            formControlName="size"
            value="35"
            class="hidden"
          />
          35 см
        </label>
      </fieldset>

      <fieldset class="product-details__fieldset">
        <label
          class="product-details__label__base"
          [ngClass]="{
            'product-details__label__active':
              orderForm.get('crust')?.value === 'traditional'
          }"
        >
          <input
            type="radio"
            formControlName="crust"
            value="traditional"
            class="hidden"
            checked
          />
          Традиционное
        </label>
        <label
          class="product-details__label__base"
          [ngClass]="{
            'product-details__label__active':
              orderForm.get('crust')?.value === 'thin'
          }"
        >
          <input
            type="radio"
            formControlName="crust"
            value="thin"
            class="hidden"
          />
          Тонкое
        </label>
      </fieldset>

      <p class="text-lg font-semibold py-4">Ингредиенты</p>
      <div class="w-full max-w-2xl mx-auto pb-16">
        <!-- Карусель с опциями -->
        <div class="flex gap-3 overflow-x-auto space-x-4 py-2 items-stretch">
          @for (option of options; track $index) {
          <div class="flex-shrink-0 w-36">
            <button
              type="button"
              (click)="toggleOption(option)"
              class="w-full h-full p-4 rounded-xl transition duration-300 ease-in-out transform"
              [ngClass]="{
                'border border-primary ': option.selected,
                'bg-white text-gray-700': !option.selected
              }"
            >
              <img [src]="option.imageUrl" alt="" />
              <div class="text-gray-700 py-1.5">{{ option.name }}</div>
              <div class="text-sm text-gray-500">{{ option.price }} ₽</div>
            </button>
          </div>
          }
        </div>
      </div>

      <button type="submit" class="btn btn-size btn-default">
        Добавить в корзину за {{ totalPrice }} ₽
      </button>
    </form>
  </main>
</article>
