<div
  class="flex items-center justify-center rounded h-4 w-4 shrink-0 bg-gray-100 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
  [ngClass]="{
    'bg-primary bg-red-200 text-primary-foreground': checked,
    'cursor-not-allowed opacity-50': disabled
  }"
>
  @if (checked) {
    <ng-container>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-check h-3 w-3 text-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M20 6 9 17l-5-5"
        />
      </svg>
    </ng-container>
  }
</div>
