@if (focused) {
<div
  class="fixed top-0 left-0 bottom-0 right-0 bg-black/50 z-30"
  (click)="focused = false"
></div>
}
<div
  class="custom-rounded flex flex-1 justify-between relative h-11"
  [ngClass]="focused ? 'z-30' : ''"
>
  <lucide-angular
    [img]="Search"
    class="w-4 h-4 absolute top-1/2 -translate-y-2/4 left-2 text-gray-400"
  />
  <input
    class="custom-rounded outline-none w-full bg-gray-50 pl-11"
    type="text"
    placeholder="Найти пиццу..."
    (focus)="handleInputFocus()"
  />
</div>
