@if (focused) {
<div
  class="fixed top-0 left-0 bottom-0 right-0 bg-black/50 z-30"
  (click)="focused = false"
></div>
}
<div
  class="custom-rounded flex flex-1 justify-between relative h-11"
  [ngClass]="focused ? 'z-30' : ''"
>
  <lucide-angular
    [img]="Search"
    class="w-4 h-4 absolute top-1/2 -translate-y-2/4 left-2 text-gray-400"
  />
  <input
    class="custom-rounded outline-none w-full bg-gray-50 pl-11"
    type="text"
    placeholder="Искать..."
    (focus)="handleInputFocus()"
    (input)="handleSearch($event)"
  />
  <!-- TODO: пофиксить старый синтаксис -->
  <div *ngIf="focused && (searchResults$ | async) as results" class="custom-rounded absolute bg-white w-full mt-12 py-3 shadow-lg z-30">
    @if (results.length > 0) {
      <ul>
        @for (product of results; track $index) {
          <li (click)="openProductPage(product.id)" class="flex items-center gap-4 px-4 py-2 hover:bg-brand-secondary-light hover:text-brand-primary-normal cursor-pointer">
            <img
              class="w-8 h-8"
              [src]="product.imageUrl"
              alt="Product's image"
              loading="lazy"
            />
            <span>{{ product.name }}</span>
            <span class="text-sm text-gray-500">{{ product.price }} ₽</span>
          </li>
        }
      </ul>
    }
    @else {
      <div class="p-4 text-gray-500">Ничего не найдено</div>
    }
  </div>
</div>
