<article class="mb-5">
  <div id="order-accordion" data-accordion="open">
    <header id="order-accordion-header-1">
      <button
        type="button"
        (click)="handleToggleAccordion()"
        class="break flex items-center justify-between w-full pt-8 pb-7 px-9 font-medium rtl:text-right border-0 bg-white hover:bg-gray-50/50 gap-3"
        [ngClass]="{
          'rounded-t-xl': true,
          'rounded-b-xl': !isAccordionOpen
        }"
        data-accordion-target="#order-accordion-body-1"
        aria-expanded="true"
        aria-controls="order-accordion-body-1"
      >
        <span class="flex items-center gap-4 text-xl font-bold">
          Заказ #{{ order.orderId }}
          <time class="text-base font-normal text-gray-300">
            <!-- TODO: локаль -->
            {{ order.orderDate | date: "MMM dd, yyyy 'at' hh:mm a" }}
          </time>
        </span>
        <span class="flex gap-4 items-center">
          <status-badge [status]="order.status" />
          <lucide-angular
            [img]="ChevronDown"
            class="w-6 h-6"
            [ngClass]="{ 'rotate-180': isAccordionOpen }"
            data-accordion-icon
            aria-hidden="true"
          />
        </span>
      </button>
    </header>
    @if (isAccordionOpen) {
    <main
      id="order-accordion-body-1"
      aria-labelledby="order-accordion-header-1"
    >
      <div class="bg-white py-7 px-9 rounded-b-xl">
        @for (product of order.products; track $index) {
        <order-item [product]="product" [itemType]="OrderItemType.MyOrders" />
        }
        <footer class="text-lg pt-4">
          Итого:
          <span class="font-bold">{{ order.totalCost }} ₽</span>
        </footer>
      </div>
    </main>
    }
  </div>
</article>
