<ul class="list">
  @for (ingredient of (showAllOptions ? ingredients : ingredients.slice(0, 5)); track ingredient.id) {
    <li class="list-item">
      <input class="checkbox" [id]="ingredient.name" value="" type="checkbox" />
      <label [for]="ingredient.name">{{ ingredient.name }}</label>
    </li>
    }
    <button class="btn btn-size btn-ghost" (click)="toggleShowAll()">
      <span class="mr-auto">{{
        showAllOptions ? "Скрыть" : "+ Показать всё"
      }}</span>
    </button>
</ul>
