<article class="custom-rounded w-full bg-surface-primary border-transparent py-8 px-9">
  <h3 class="break text-xl font-bold pb-8">Дополнительно</h3>
  <fieldset class="py-8">
    <div class="flex items-center mb-[18px]">
      <input
        checked
        id="checkbox-1"
        type="checkbox"
        value=""
        class="checkbox"
      />
      <label for="checkbox-1" class="ms-2 text-sm font-medium text-gray-900">
        Я согласен/на с
        <a href="#" class="text-brand-primary-normal hover:underline">
          условиями обработки данных
        </a>
      </label>
    </div>
    <div class="flex items-center mb-[18px]">
      <input id="checkbox-2" type="checkbox" value="" class="checkbox" />
      <label for="checkbox-2" class="ms-2 text-sm font-medium text-gray-900"
        >Подписаться на рассылку</label
      >
    </div>
  </fieldset>
  <footer class="flex items-center gap-3 justify-end flex-wrap">
    <button class="btn btn-size btn-secondary">Выйти</button>
    <button class="btn btn-size btn-primary">Сохранить изменения</button>
  </footer>
</article>
