<article
  class="custom-rounded w-full bg-surface-primary border-transparent py-8 px-9"
>
  <h3 class="break text-xl font-bold pb-8">Адрес доставки</h3>
  <form class="pt-8 flex flex-col gap-6" name="address">
    <div>
      <label for="address" class="block mb-2 font-semibold"
        >Введите адрес</label
      >
      <input
        id="address"
        type="text"
        value=""
        class="input"
        placeholder="город, улица, дом"
        required
      />
    </div>
    <div>
      <label for="comment" class="block mb-2 font-semibold"
        >Комментарий к заказу</label
      >
      <textarea
        id="comment"
        class="input"
        rows="4"
        style="min-height: calc(1.5em * 5)"
        placeholder="Укажите тут дополнительную информацию для курьера"
        required
      ></textarea>
    </div>
    <div>
      <label for="lastName" class="block mb-2 font-semibold"
        >Время доставки</label
      >
      <svg class="w-5 h-5 inline-block align-middle mr-1">
        <use href="assets/sprite.svg#clock-icon"></use>
      </svg>
      <select name="" id="" class="align-middle">
        <option value="">Доставка в 11:00</option>
        <option value="">Как можно скорее</option>
      </select>
    </div>
  </form>
</article>
