<main class="custom-container bg-surface-primary">
  <app-header />
  <div class="container mx-auto">
    <carousel />
    <h2 class="text-3xl font-extrabold py-2 lg:text-4xl md:py-8">Все пиццы</h2>
    <nav #nav class="hidden md:flex justify-between items-center">
      <navigation />
      <sort />
    </nav>
    <div #stickyMenu class="w-full mx-auto relative" [ngClass]="{ 'fixed-nav': isSticky }">
      <div class="container mx-auto flex items-center gap-4 md:mx-2">
        @if (isSticky) {
          <div class="flex-shrink-0">
            <a (click)="handlescrollToTop()">
              <img
                class="w-8 h-8 cursor-pointer"
                src="logo.png"
                alt="Logo"
                loading="lazy"
              />
            </a>
          </div>
          <category-menu
            [categories]="categories"
            [activeCategory]="activeCategory"
            (onScrollToCategory)="scrollToCategory($event)"
          />
        }
      </div>
    </div>
    <section class="relative container flex gap-0 md:gap-9 lg:gap-12">
        <button
          class="custom-rounded md:hidden absolute top-2 right-2 border-[1px] border-current text-brand-primary-normal p-2 rounded"
          (click)="handleToggleFilters()"
        >
          <lucide-angular [img]="Menu" class="w-4 h-4" />
        </button>
        <sidemenu
          class="fixed top-0 left-0 z-50 flex flex-col h-full gap-8 transform transition-transform duration-300 ease-in-out w-60 md:static md:translate-x-0 md:w-60"
          [ngClass]="{
            '-translate-x-full': !isFiltersOpen,
            'bg-white px-4': isFiltersOpen
          }"
        />
      <div>
        @for (group of productsByCategory; track $index) {
          <h2
            #categorySection
            class="pt-4 pb-4 text-xl font-bold md:pt-8 lg:text-2xl lg:pt-12"
            [attr.id]="group.category"
            [attr.data-anchor]="group.category"
          >
          {{ group.name }}
          </h2>
          <div class="custom-grid">
            @defer {
              @for (product of group.products; track $index) {
                <product-card
                  [product]="product"
                  [cartProducts]="cartProducts"
                  [isCartEmpty]="isCartEmpty"
                  (onAddProductToCart)="addProductToCart($event)"
                  (onIncrease)="increaseQuantity($event)"
                  (onDecrease)="decreaseQuantity($event)"
                />
              }
            }
            @placeholder(minimum 1s) {
              @for (item of [1,2,3,4,5,6,7,8,9]; track $index) {
                <skeleton />
              }
            }
          </div>
          }
      </div>
    </section>
  </div>
</main>
<app-footer />
