<main class="min-h-screen bg-white">
  <div container>
    <header main></header>

    <!-- UI KIT -->

    <!-- titles -->
    <!-- <app-title text="Все пиццы" size="lg" class="font-extrabold" />
    <app-title text="Все пиццы" /> -->

    <br />
    <!-- buttons -->
    <div class="flex gap-4 items-center">
      <!-- <app-button variant="default" size="default" type="submit"
        >Войти</app-button
      >
      <app-button variant="destructive" size="sm">Удалить</app-button>
      <app-button variant="outline" [loading]="true">Загрузка...</app-button>
      <app-button variant="outline">+</app-button>
      <app-button variant="secondary">secondary</app-button>
      <app-button variant="ghost">ghost</app-button> -->
    </div>

    <br />

    <!-- checkboxes -->
    <div class="flex gap-4">
      <app-checkbox></app-checkbox>
      <app-checkbox [checked]="true"></app-checkbox>
      <app-checkbox [disabled]="true"></app-checkbox>
    </div>

    <br />

    <!-- dialog -->
    <app-dialog [isOpen]="isDialogOpen" (onClose)="handleCloseDialog()">
      <div dialog-header>
        <h2 class="text-lg font-semibold">Заголовок диалога</h2>
      </div>

      <div>
        <p>Основное содержимое</p>
      </div>

      <div dialog-footer class="flex justify-end gap-2">
        <!-- <app-button variant="ghost">Продолжить</app-button>
        <app-button variant="default" (click)="handleCloseDialog()"
          >Закрыть</app-button
        > -->
      </div>
    </app-dialog>
    <button (click)="openDialog()">Открыть диалог</button>

    <br />
    <br />

    <!-- textarea -->
    <app-textarea></app-textarea>

    <br />

    <!-- popover -->
    <app-popover
      [isOpen]="isPopoverOpen"
      align="center"
      side="bottom"
      [sideOffset]="10"
    >
      <button popover-trigger (click)="togglePopover()">Открыть поповер</button>
      <ul>
        <li>Это содержимое поповера</li>
        <li>Это содержимое поповера</li>
        <li>Это содержимое поповера</li>
      </ul>
    </app-popover>

    <br />
    <br />

    <!-- sheet -->
    <button (click)="openSheet()">Открыть панель</button>

    <app-sheet [isOpen]="isSheetOpen" (onClose)="closeSheet()">
      <div class="flex flex-col space-y-2 text-center sm:text-left">
        <h2 class="text-lg font-semibold">Заголовок панели</h2>
      </div>

      <div class="text-lg font-semibold text-foreground">
        <p>Основной контент внутри панели.</p>
      </div>

      <div>
        <!-- <app-button variant="default" (click)="closeSheet()"> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-move-left mr-2"
          >
            <path d="M6 8L2 12L6 16" />
            <path d="M2 12H22" />
          </svg>
          Вернуться назад
        <!-- </app-button> -->
      </div>
    </app-sheet>

    <br />
    <br />
  </div>
</main>
