@for (toast of toastsService.toasts; track toast.id) {
  <div
    class="fixed flex items-center justify-between w-full max-w-xs p-4 space-x-4 rounded-xl mt-3 right-3 z-[100]"
    [style.top.px]="toast.id * 60"
    role="alert"
    [ngClass]="{
        'bg-badge-bg-neutral text-badge-text-neutral': toast.type === ToastType.Info,
        'bg-badge-bg-success text-badge-text-success': toast.type === ToastType.Success,
        'bg-badge-bg-error text-badge-text-error': toast.type === ToastType.Error,
      }"
  >
    <div class="ms-3 text-sm font-normal">
      {{ toast.message }}
    </div>
    <button
      type="button"
      class="ms-auto -mx-1.5 -my-1.5 bg-transparent text-gray-400 hover:text-gray-900 rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8"
      aria-label="Close"
      (click)="handleCloseToast(toast.id)"
    >
      <lucide-angular [img]="X" class="w-4 h-4" />
    </button>
  </div>
}
