<section class="break py-4 flex justify-between items-center">
  <div
    class="flex gap-5 items-center justify-start cursor-pointer"
    (click)="handleNavigateToProduct(product.id)"
  >
    <img class="w-16 h-16" [src]="product.imageUrl" alt="Product image" />
    <div>
      <p class="text-base font-bold">{{ product.name }}</p>
      <p class="text-sm font-normal text-gray-300">
        {{ getFormattedDescription(product.shortDescription) }}
      </p>
      @if (product.extraOptions.length > 0) {
        <p class="pb-3 text-sm font-normal text-gray-300">
          {{ getFormattedOptions(product.extraOptions) }}
        </p>
      }
    </div>
  </div>
  <div>
    <p class="text-base font-bold">{{ product.totalPrice }} ₽</p>
  </div>
  <quantity-selector
    [productQuantity]="product.quantity"
    (onIncrease)="handleIncrease()"
    (onDecrease)="handleDecrease()"
  />
</section>
