<ul class="custom-rounded max-w-fit flex items-center gap-1.5 bg-input-primary p-1">
  @for (tag of (tags.slice(0, 5)); track $index) {
    <li
      class="link"
      [ngClass]="{
          'link-choosen': tag === selectedTag
        }"
    >
      <a (click)="selectTag(tag)">{{ tag.name }}</a>
    </li>
  }
    <li
      class="link relative"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      <button class="icon gap-1">
        Еще
        <lucide-angular [img]="ChevronDown" class="w-4 h-4" />
      </button>
      @if (showDropdown) {
        <dropdown-tags
          class="custom-shadow custom-rounded absolute left-0 bg-white shadow-md mt-1 z-10"
          [tags]="tags.slice(5)"
          (onTagClick)="selectTag($event)"
        />
      }
    </li>
</ul>
