<ul class="custom-rounded max-w-fit flex items-center gap-1.5 bg-input-primary p-1">
  <li class="link link-choosen"><a href="">Все</a></li>
  <li class="link"><a href="">Мясные</a></li>
  <li class="link"><a href="">Острые</a></li>
  <li class="link"><a href="">Сладкие</a></li>
  <li class="link"><a href="">Вегетарианские</a></li>
  <li class="link"><a href="">C курицей</a></li>
  <li class="link">
    <a href="" class="icon gap-1">
      Еще
      <lucide-angular [img]="ChevronDown" class="w-4 h-4" />
    </a>
  </li>
</ul>
