@if (isOpen) {
<div
  class="fixed top-0 left-0 bottom-0 right-0 bg-black/50 z-30"
  (click)="close()"
></div>
<div
  class="custom-shadow fixed top-0 right-0 w-80 h-screen bg-white z-50 flex flex-col"
>
  @if (empty) {
    <div class="h-screen flex flex-col justify-center items-center px-10">
      <img class="w-28 pb-5" src="assets/images/empty-box.png" alt="Empty cart image" />
      <p class="text-xl font-semibold pb-2">Корзина пустая</p>
      <p class="text-gray-300 text-center pb-9">Добавьте хотя бы одну пиццу, чтобы совершить заказ</p>
      <button class="btn btn-size btn-primary icon gap-2"
      (click)="close()">
        <svg
          class="lucide lucide-move-left w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 8L2 12L6 16" />
          <path d="M2 12H22" />
        </svg>
        Вернуться назад
      </button>
    </div>
  }
</div>
}
