@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "./app/styles/global.scss";

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-brand-primary: #ff5e00;
    --color-brand-primary-hover: #fb8039;
    --color-brand-secondary: #fff7ee;
    --color-brand-secondary-hover: #fef0e1;
    --color-ui-surface-primary: #ffffff;
    --color-ui-surface-secondary: #f4f1ee;
    --color-ui-input: #e6e6e6;
    --color-ui-input-primary: #f9fafb;
    --color-ui-input-secondary: #ececec;
    --color-ui-text-primary: #000000;
    --color-ui-text-secondary: #575757;
    --color-ui-text-tertiary: #b1b1b1;
    --color-ui-text-accent: #ffffff;
    --color-ui-text-error: #ef4444;
    --color-ui-badge-bg-neutral: #fff3b4;
    --color-ui-badge-bg-success: #eaf8f4;
    --color-ui-badge-bg-error: #fff0ef;
    --color-ui-badge-text-neutral: #917c12;
    --color-ui-badge-text-success: #1bb486;
    --color-ui-badge-text-error: #ff544a;
    --color-ui-border: #e7e5e4;
  }
}
