@if (isOpen) {
<div
  class="fixed inset-0 z-50 bg-black/80 transition-opacity duration-300"
  (click)="closeSheet()"
></div>

<div
  class="bg-white flex flex-col items-center justify-center fixed top-0 right-0 h-full w-3/4 sm:max-w-sm border-l z-50 gap-4 p-6 shadow-lg transition ease-in-out data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:duration-300 data-[state=open]:duration-500"
  [ngClass]="{
    'slide-in': isOpen,
    'slide-out': !isOpen
  }"
  (click)="$event.stopPropagation()"
>
  <button
    class="absolute top-4 right-4 text-muted-foreground"
    (click)="closeSheet()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>

  <ng-content></ng-content>
</div>
}
