@switch (status) {
  @case ('paid') {
    <span
      class="bg-badge-bg-success text-badge-text-success text-xs font-medium me-2 px-5 py-2 rounded-full ml-auto"
    >
      Оплачено
    </span>
  }
  @case ('rejected') {
    <span
      class="bg-badge-bg-error text-badge-text-error text-xs font-medium me-2 px-5 py-2 rounded-full ml-auto"
    >
      Отклонено
    </span>
  }
  @case ('pending') {
    <span
      class="bg-badge-bg-neutral text-badge-text-neutral text-xs font-medium me-2 px-5 py-2 rounded-full ml-auto"
    >
      В ожидании
    </span>
  }
}

